{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-6 border rounded my-3 mx-auto p-2 bg-light">
                <h2 class="text-center"> Task Management System </h2>
            </div>
        </div>
        <div class="container border border-warning rounded my-2">
            <div class="row mx-auto my-2 p-2">
                <h5 class="text-center text-info"><span> <i class="fa fa-home" aria-hidden="true"></i> Home</span> / 
                <span class="text-info"><a class="text-dark" href="/computer-specs"> Computer Specs </a> </span></h5>
                <div class="col-12 border rounded my-3 mx-auto p-4 bg-light">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th class="text-center" scope="col">PID</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col">Memory usage</th>
                        <th class="text-center" scope="col">CPU usage</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pr in processes %}
                               <tr id="{{pr.pid}}tr">
                        <th class="text-center" scope="row">{{pr.pid}}</th>
                        <td class="text-center">{{pr.name}}</td>
                        <td class="text-center">{{pr.status}}</td>
                        <td class="text-center">{{pr.mem}} %</td>
                        <td class="text-center">{{pr.cpu}} %</td>
                        <td class=""><a  href="{% url 'demo:kill_process' pr.pid %}" id="{{pr.pid}}" class="btn"><span class="badge badge-primary p-2">KILL</span>
                        </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
     
    </div>
   <!-- <script src="{% static 'task.js' %}" ></script> -->
   <script >
        {% comment %} function doJob(pid){
            console.log('btn clicked with id = '+ pid);
            document.getElementById(pid+"tr").style.display ="none";
        } {% endcomment %}
   </script>
   
</body>
</html>